body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.table {
    display: inline-block;
    width: auto;
}
.row {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
}
.cell {
    flex: 1;
    padding: 8px;
    border-right: 1px solid #ddd;
    
}
.cell:last-child {
    border-right: none;
}
.header {
    background-color: #f2f2f2;
    font-weight: bold;
}

input[type="number"], input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
}

.button-container {
    padding: 20px;

}

@media (max-width: 600px) {
    
    .row {
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    }
    .header {
    display: none;
    }
    .cell {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: center;
    font-size: 25px; /* Increased font size for better readability */
    }
    
    .cell:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    font-size: 20px; /* Increased font size for better readability */
    }
    .cell:nth-of-type(2):before { content: "Cantitate"; }
    .cell:nth-of-type(3):before { content: "Protein (%)"; }
    .cell:nth-of-type(4):before { content: "Pret"; }

    .namecell {
    text-align: left;
    font-weight: bold;
    transform: translateX(-10%);
    font-size: 25px; /* Increased font size for better readability */
    }
}
